<div class="tab-content" id="nav-tabContent">
    <!-- Start of Babble -->
    <div class="babble tab-pane fade active show" id="list-chat" role="tabpanel" aria-labelledby="list-chat-list">
        <!-- Start of Chat -->
        <%= render "chat_area/_chat.html" %>
        <!-- End of Chat -->
        <!-- Start of Call -->
        <%= render "chat_area/_call.html" %>
        <!-- End of Call -->
    </div>
    <!-- End of Babble -->
</div>